<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrpad.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,326},{116,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bigcastle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{316,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,352}}</string>
                <key>sourceSize</key>
                <string>{316,352}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,444},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,206},{128,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>funpad.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,164},{106,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{106,40}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>hpback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,32}}</string>
                <key>sourceSize</key>
                <string>{800,32}</string>
            </dict>
            <key>hpfore1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{795,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,28}}</string>
                <key>sourceSize</key>
                <string>{795,28}</string>
            </dict>
            <key>hpfore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{795,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,28}}</string>
                <key>sourceSize</key>
                <string>{795,28}</string>
            </dict>
            <key>kpbridge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{704,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,32}}</string>
                <key>sourceSize</key>
                <string>{704,32}</string>
            </dict>
            <key>kpbridge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{704,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,32}}</string>
                <key>sourceSize</key>
                <string>{704,32}</string>
            </dict>
            <key>littlecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,164},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>qutpad.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,96},{42,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{42,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>smallcastle.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,164},{188,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,160}}</string>
                <key>sourceSize</key>
                <string>{188,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{804,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90236f7ed4c09f49dadf363bad1484af$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
